#name-and-slogan #site-slogan {
  font-family: 'Arial Black',Sans-Serif;
  font-style: normal;
  text-align: center;
  background-color: #2b89ed;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

